$greenBackground: rgb(185, 204, 185);
$whiteBackground: rgba(247, 247, 247, 0.411);

.tempNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: $whiteBackground;
  height: 4rem;

  .avatarImage {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5rem;
  }

  .leftNavBar {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 16rem;
    margin-left: 1rem;
  }

  .rightNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 29rem;
    padding-right: 1rem;
  }

  .dropDown {
    display: inline-block;
  }

  .dropDownTitle {
    padding-right: 1rem;
    border-right: 2px solid black;
    margin: 0rem 0.25rem 0rem 1rem;
  }

  .genusTitle {
    margin-left: 0.5rem;
  }

  .dropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffff;
    border-radius: 0.25rem;
    width: 12rem;
    height: auto;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }

  .dropDownContent.active {
    display: flex;
    flex-direction: column;
    z-index: 5;
  }

  .dropDownContent > a {
    color: black;
    text-decoration: none;
  }

  .navBarInput {
    border-radius: 0.5rem;
    background-color: #eeeeee;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .navBarInput:focus {
    outline: none;
  }

  .navBarInput::placeholder {
    font-weight: 600;
  }

  .navBarButton {
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(185, 204, 185);
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .NavBarLinks {
    color: #030303;
    text-decoration: none;
  }
}

.mdropDown {
  * {
    text-decoration: none;
  }

  width: 100%;
  min-height: 2.5rem;
  background-color: $whiteBackground;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  z-index: 20;

  .NavBarLinks {
    color: #030303;
    text-decoration: none;
  }

  .mdropDownTitle {
    margin-right: 1rem;
    font-size: 1.5rem;
    z-index: 10;
  }

  .mdropDownContent {
    margin-top: -1rem;
    display: none;
  }

  .mdropDownContent.mobileActive {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 11rem;
    justify-content: space-between;
    width: 100%;
    z-index: 5;

    .mtypesDropDown {
      display: none;
      width: 10rem;
    }

    .mtypesDropDown.typesActive {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 5rem;
      z-index: 10;
      background-color: rgba(228, 228, 228, 0.534);
      border-radius: 0.5rem;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .mInputSearch {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.35rem;
      height: 2rem;
    }
  }
}

.addPlantModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .plantModalInfo {
    border: 2px solid #030303;
    width: 40%;
    height: 40%;
    max-width: 450px;
    max-height: 350px;
    min-width: 420px;
    min-height: 240px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    background-color: rgba(88, 117, 81, 0.938);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modalTitle {
    font-size: 1.5rem;
    margin: -2rem 0rem 2rem 0rem;
  }

  .modalPlantInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    padding: 0rem 1rem 0rem 1rem;
  }

  .modalInput {
    border-radius: 0.25rem;
    border: none;
    margin-bottom: 0.5rem;
    width: 18rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .modalLabel {
    margin-top: 10px;
    min-width: 6rem;
  }

  .modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10rem;

    .modalCancelButton {
      border-radius: 0.25rem;
      font-weight: 700;
      margin-top: 10px;
      border: none;
    }

    .modalSubmitButton {
      border-radius: 0.25rem;
      font-weight: 700;
      margin-top: 10px;
      border: none;
    }
  }
}
