.plantCard {
  border-radius: 3rem;
  background-color: black;
  height: 17.5rem;
  margin: 0.25rem 1rem 0rem 1rem;
  //   padding: 1rem;
  text-align: center;
  color: black;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  border: none;
  object-fit: cover;
  // margin: 50%, margin: 50px, margin: 3rem;
}

.plantContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plantTitle {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 1rem 1rem 0rem 1rem;
}

.avatar {
  margin-right: 1.5rem;
}

.header {
  width: 100%;
  background-color: lightgrey;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.no-padding {
  padding: 0 !important; // override padding rule
}
